<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%-include("partials/nav") %>
      <% if (locals.user) {%>
    <h1>WELCOME BACK <%= user.username %> You have visited this page</h1>
    <a href="/log-out">LOG OUT</a>
  <% }  %>
    <h1><%=title %></h1>
        <%if(locals.messages){ %>
            <% messages.forEach(message => { %>
                <%if(locals.user){ %>
                    <% if(locals.user.membership || locals.user.admin){ %>
                    <h3><%=message.username%></h3>
                    <h3><%=message.time %></h3>
                    <% } else{ %>
                        <h3>Unknown</h3>
                        <% } %>
                    <% } else{ %>
                        <h3>Unknown</h3>
                    <% } %>
                    <h4><%=message.title %></h4>
                    <p><%=message.message %></p>
                    <% if(locals.user){ %>
                    <% if(locals.user.admin){ %>
                        <a href="/deleteMsg?id=<%=message.id %>"><button type="submit">delete</button></a>

                        <% } %>
                        <% } %>
            <%  }); %>
        <% } %>
</body>
</html>